.cart-container{
	padding: 0px 200px 0px 100px;
}

.cart-table{
	color: rgb(64, 49, 197);
	font-size: 1.25em;
	margin-right: 150px;
}

.cart-product, .product-name{
	color: rgb(110, 16, 110);
	font-size: 1em;
}

.cart-total{
	color: rgb(110, 16, 110);
}

.price{
	width: 50px;
}

.remove{
	font-size: 0.7rem !important;
	margin-left: 20px;
	float: right;
	color: red;
}

.cart-empty{
	padding: 30px 200px 0px 100px;
	font-size: 2em;
}
