:root {
	--error: rgb(240, 44, 44);
	--primary: rgb(64, 49, 197);
	--secondary: rgb(110, 16, 110);
	--orange: rgb(221, 170, 76);
}
body {
	background: rgba(0, 118, 197, 0.315);
	color: var(--primary);
}

.container{
	padding: 10px 100px 0px 100px;
}

.color-error{
	color: var(--error);
}

.secondary{
	color: var(--secondary);
}
.font14 {
	font-size: 14px;
}
.font12 {
	font-size: 12px;
}
.info-10 {
	color: #7b7575;
	font-size: 10rem;
}

.info-0-7 {
	font-size: 0.7rem;
}

.info-1 {
	font-size: 1rem;
}

.info-1-5 {
	font-size: 1.5rem;
}

.info-2 {
	font-size: 2rem;
}

.info-2-5 {
	font-size: 2.5rem;
}

.mr-30 {
	margin-right: 30px;
}

.mb-20 {
	margin-bottom: 20px;
}

.absolute-position {
  position: absolute;
}

.bv-affix-wrapper {
  height: 51px;
  position: relative;
}
.p-0 {
	padding: 0;
}
.custom-pagination {
	display: flex;
	width: 40px;
	margin: 0 auto;
	padding: 5px 0;
	text-align: center;
	list-style: none;
	border-radius: 0.25rem;
}

.custom-pagination i {
	font-size: 3px;
	position: relative;
	top: 1px;
	color: #252E31
}
.sticky-header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%
}

.bv-notification-error {
  color: #fff;
  background-color: #FF5166
}

.bv-custom-notification {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.v-center {
	display: flex;
	align-items: center;
}
.w-100 {
	width: 100%
}