.auth_loader {
	height: 20px;
	padding-right: 10px;
}

.container{
	padding: 20px 100px 20px 100px;
}

.create-account{
	align-self: flex-end;
	margin-left: auto;
	color: rgb(110, 16, 110);
}

.login-header{
	display: flex;
	margin-bottom: 0px;
}

.secondary{
	color: rgb(110, 16, 110);
}