.auth_loader {
	height: 20px;
	padding-right: 10px;
}

.container {
	padding: 20px 100px 20px 100px;
}

.create-account {
	align-self: flex-end;
	margin-left: auto;
	color: #8a7df7;
}

.login-header {
	display: flex;
	margin-bottom: 0px;
}

.secondary {
	color: #ed85ed;
}

.login-text {
	color: #8a7df7;
}

.login-form input {
	background-color: #181a1b;
	border: 1px solid #3c4144;
	color: #b5afa6;
}

.login-form input:focus {
	background-color: rgb(19, 21, 22);
	border: 1px solid rgb(119, 110, 98);
	color: rgb(181, 175, 166);
}